.wrapper-pocki-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name{
    font-size: xx-large;
    font-weight: 600;

}
.Height span{
    font-size: x-large;
    font-weight: 200;
    
}
.Height{
    margin: 1rem 0;
    font-size: x-large;
}
.type{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row;
    gap: 20px;
    /* border: 1px solid rgba(102, 51, 153, 0.124); */
}

.type div{
    /* border: 1px solid red; */
    background-color: #21e1ff56;
    font-size: larger;
}