#head-of-the-page{
    font-size: xx-large;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    text-decoration: none;
}


